---
import { menu } from "../../public/portafolio.json"

const id = "navbarPortafolio";
---
<section class="sticky-top bg-light py-2 mt-5" id="Menu">
    <nav id={id} class="navbar navbar-expand-lg navbar-dark sticky-top" >
        <div class="container-fluid">
            <div class="navbar-nav w-100 justify-content-center gap-5 flex-row">
                {
                    menu.map(({ name, status, href }) => {
                      const chequedStatus = status === "true" ? "nav-link d-block" : "d-none";
                      return (
                      <a class={chequedStatus} href={href}>{name}</a>
                      )
                    })
                  }
            </div>
        </div>
      </nav>
</section>

<style>
  section {
    opacity: 0.97;
  }
  .nav-link {
    color: #444444;
    font-size: 1.6rem;
    font-weight: 900;
    font-optical-sizing: auto;
    transition: all 500ms linear;
  }
  .nav-link:hover {
    color: #EA5F34;
    animation: movesake 50ms ease alternate infinite;
  }
  @keyframes movesake {
    0% {
      transform: rotate(-4deg)
    }
    100% {
      transform: rotate(4deg)
    }

  }
</style>
