---
import { info } from "../../public/portafolio.json";

const { skills } = info;
---

<section id="skills" class="container py-5">
  <div class="row">
    <div class="col">
      <p class="tag-title">Skills</p>
      <p>
        Integro skills de diseño, UX/UI, diseño web y desarrollo full stack,
        combinandolas creativia y técnicamente fiables para ofrecer soluciones
        digitales completas y efectivas.
      </p>
    </div>
  </div>
  <div class="row skillsBox flex-row gap-2 px-1">
    {
      skills.map(({ name, status }) => {
        const checkedStatus = status === "true" ? "d-block skills" : "d-none";
        return (
          <span class={checkedStatus}>
            <code>{name}</code>
          </span>
        );
      })
    }
  </div>
</section>
<style>
  .skills {
    background-color: #ea5f34;
    border-radius: 0.5rem;
    padding: 0.05rem 0.5rem;
    width: fit-content;
  }
  code {
    color: #ffffff;
    font-size: 0.8rem;
  }
</style>
